<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/city.css">
    <link rel="icon" href="/assets/logo.png" type="image/png" sizes="60x60">
    <title>COVICoin - Session</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-inline">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo-white.svg" alt="" width="150" height="60">
            </a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a id="profile-navbar" href="/twitter" class="nav-link">Login</a>
            <a href="/session/start" class="nav-link"><button class="startsession-button">Start Session</button></a>
        </div>
    </nav>
    <div class="main-wrap" width="100">
        <div class="main-content">
            <h1 class="heading">Where are you from?</h1>
            <div class="select-div">
                <div class="custom-select" style="flex: 2; margin-right: 50px;">
                    <p>State</p>
                    <select id="state">
                        <option>Selection</option>
                    </select>
                </div>
                <div class="custom-select" style="flex: 1;">
                    <p>City</p>
                    <select id="city">
                        <option>Selection</option>
                    </select>
                </div>
            </div>
            <button class="black-button" style="margin-top: 70px;" onclick="proceedButton()">Proceed</button>
        </div>
    </div>
    <script src="/js/auth.js"></script>
    <script src="/js/city.js"></script>
</body>

</html>