<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/help.css">
    <link rel="icon" href="/assets/logo.png" type="image/png" sizes="60x60">
    <title>COVICoin - Session</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inline">
          <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="" width="60" height="60">
          </a>
          <a href="/"><h2 class="nav-header-text">COVICoin</h2></a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a href="/profile" class="nav-link">Profile</a>
            <a href="/end-session" class="nav-link"><button class="endsession-button">End Session</button></a>
        </div>
    </nav>
    <div class="main-wrap">
        <div class="left">
            <div class="left-top">
                <div class="top-inline">
                    <h2>Request tweet</h2>
                    <span title="This is a tweet which is requesting for resources."><img src="/assets/question-mark.png"/></span>
                </div>
                <div class="tweet-embed">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">*Need an ICU bed in Rohtak urgently* <br><br>Name - Sunita<br>Age - 59<br>Gender - Female<br>City- Rohtak<br>Oxygen saturation level- 57<br><br>Attendant Name - Mohit Dhall (son)<br><br>Contact - 9253557777</p>&mdash; Yusuf Pathan (@iamyusufpathan) <a href="https://twitter.com/iamyusufpathan/status/1390016142647848964?ref_src=twsrc%5Etfw">May 5, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="left-form">
                <h2>Please fill out the form below:</h2>
                <form id="generate-tweet-form" class="generate-tweet-form" action="#">
                    <p>Address Line 1</p>
                    <input name="address1" type="text" autocomplete="off">
                    <br><br>
                    <p>Address Line 2</p>
                    <input name="address2" type="text" autocomplete="off">
                    <br><br>
                    <div class="input-inline">
                        <div>
                            <p>Request Item/Service</p>
                            <input name="item" type="text" style="width: 240px;" autocomplete="off">
                        </div>
                        <div style="margin-left: 30px;">
                            <p>Quantity</p>
                            <input name="quantity" type="text" style="width: 230px;" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <p>Contact Name (optional)</p>
                    <input name="contact-name" type="text" autocomplete="off">
                    <br><br>
                    <div class="input-inline">
                        <div>
                            <p>Contact Number 1</p>
                            <input name="contact-number-1" type="text" style="width: 240px;" autocomplete="off">
                        </div>
                        <div style="margin-left: 30px;">
                            <p>Contact Number 2</p>
                            <input name="contact-number-2" type="text" style="width: 230px;" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <p>Additional Information (optional)</p>
                    <input name="addl-info" type="text" style="width: 520px;" autocomplete="off">
                    <br><br>
                </form>
            </div>
            <br><br>
            <div class="buttons-inline">
                <button class="generate-tweet-button">Generate Tweet</button>
                <button class="back-to-session-button">Back to session</button>
            </div>
            <br><br><br>
        </div>
        <div class="right">
            <div class="resources">
                <h3>Resources</h3>
                <div class="resource-link"><a href="https://covid19-twitter.in" target="_blank">https://covid19-twitter.in</a></div>
                <div class="resource-link"><a href="https://www.covidindiaresources.com/" target="_blank">https://www.covidindiaresources.com</a></div>
                <div class="resource-link"><a href="https://life.coronasafe.network/" target="_blank">https://life.coronasafe.network</a></div>
                <div class="resource-link"><a href="https://indiacovidresources.in/" target="_blank">https://indiacovidresources.in</a></div>
                <div class="resource-link"><a href="https://oxygenblr.in/" target="_blank">https://oxygenblr.in</a></div>
                <div class="resource-link"><a href="https://covidfightclub.org/" target="_blank">https://covidfightclub.org</a></div>
                <div class="resource-link"><a href="https://www.factchecker.in" target="_blank">https://www.factchecker.in</a></div>
            </div>
            <div class="generated-tweet-card">
                <h1>Generated Tweet</h1>
                <div class="generated-tweet-text">
                    This is a ‘COVICOIN’ generated reply! <br>Here's a lead for ‘Oxygen bed’ in Gurgaon. <br>Location: CK Birla Hospital, Block J, Mayfield Garden, Sector 51, Gurgaon <br>Quantity: 14 <br>Contact Name: Dr. Shri Rawat <br>Contact Number: 77883232321, 97883232321
                </div>
                <button class="copy-to-clipboard"><svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.2969 3.09375L17.9062 0.703125C17.5312 0.328125 16.8281 0 16.3125 0H8.25C6.98438 0 6 1.03125 6 2.25V4.5H2.25C0.984375 4.5 0 5.53125 0 6.75V21.75C0 23.0156 0.984375 24 2.25 24H12.75C13.9688 24 15 23.0156 15 21.75V19.5H18.75C19.9688 19.5 21 18.5156 21 17.25V4.6875C21 4.17188 20.6719 3.46875 20.2969 3.09375ZM16.5 1.54688C16.5938 1.59375 16.7344 1.64062 16.8281 1.73438L19.2656 4.17188C19.3594 4.26562 19.4062 4.40625 19.4531 4.5H16.5V1.54688ZM13.5 21.75C13.5 22.1719 13.125 22.5 12.75 22.5H2.25C1.82812 22.5 1.5 22.1719 1.5 21.75V6.75C1.5 6.375 1.82812 6 2.25 6H6V17.25C6 18.5156 6.98438 19.5 8.25 19.5H13.5V21.75ZM19.5 17.25C19.5 17.6719 19.125 18 18.75 18H8.25C7.82812 18 7.5 17.6719 7.5 17.25V2.25C7.5 1.875 7.82812 1.5 8.25 1.5H15V4.875C15 5.53125 15.4688 6 16.125 6H19.5V17.25Z" fill="black"/></svg>Copy to clipboard</button>
            </div>
        </div>
    </div>
</body>
</html>

<!-- <div class="left-top">
    <div class="top-inline">
        <h2>Request tweet</h2>
        <span title="This is a tweet which is requesting for resources."><img src="/assets/question-mark.png"/></span>
    </div>
    <div class="tweet-embed">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">*Need an ICU bed in Rohtak urgently* <br><br>Name - Sunita<br>Age - 59<br>Gender - Female<br>City- Rohtak<br>Oxygen saturation level- 57<br><br>Attendant Name - Mohit Dhall (son)<br><br>Contact - 9253557777</p>&mdash; Yusuf Pathan (@iamyusufpathan) <a href="https://twitter.com/iamyusufpathan/status/1390016142647848964?ref_src=twsrc%5Etfw">May 5, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<div class="left-form2">
    <h2>Please upload image of call log or contact proof:</h2>
    <p>Upload a screenshot of the call log or call details screen which shows that you contacted the person whose number you have mentioned in your reply.</p>
    <form id="upload-image-form" class="upload-image-form" action="#">
        <p style="color: black;font-size: 18px;"><label for="image-input" style="text-decoration: underline;" class="file-upload-text">Browse files</label> to upload image</p>
        <input id="image-input" style="visibility: hidden;" type="file">
        <br><br>
        <div class="image-upload-inline">
            <p>beat_this.jpg selected</p>
            <button class="upload-button">Upload</button>
        </div>
    </form>
</div>
<br><br>
<div class="buttons-inline">
    <button class="verify-reply-button">Verify Reply</button>
    <button class="back-to-session-button">Back to session</button>
</div>
<br><br><br> -->