<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/assets/logo.png" type="image/png" sizes="60x60">
    <title>COVICoin</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inline">
          <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="" width="60" height="60">
          </a>
          <a href="/"><h2 class="nav-header-text">COVICoin</h2></a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a href="/profile" class="nav-link">John</a>
        </div>
    </nav>
</body>
</html>