<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" sizes="60x60">
    <title>COVICoin</title>
    <script>
        if ('<%= user_token %>' != '') {
            localStorage.setItem('token', '<%= user_token %>');
            window.location = `${window.location.href.split('/twitter')[0]}`
        }
        if ('<%=logout %>' == 'true') {
            localStorage.removeItem('token')
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-inline">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo-white.svg" alt="" width="150" height="60">
            </a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a id="profile-navbar" href="/twitter" class="nav-link">Login</a>
            <a href="/session/start" class="nav-link token"><button class="startsession-button">Start Session</button></a>
        </div>
    </nav>
    <div class="main-wrap" width="100%">
        <div class="landing1">
            <img src="/assets/logo-black.svg" alt="COVICoin" height="110px" class="front-logo">
            <h4 class="tagline-text" style="padding: 0px 200px 0px 200px;">Crashing COVID to the core</h4>
            <a href="/session/start" class="token"><button class="black-button">Start Session</button></a>
        </div>
        <div class="landing2">
            <h2 class="subheading">How does it work?</h2>
            <h4>COVICoin is a gamified experience that gives the user redeemable credits based on how many people they help. The system shows the users specific tweets which are asking for leads about COVID resources and the users get redeemable credits according
                to how much they can help the person by verifying leads and replying to that tweet.</h4>
        </div>
        <div class="landing2">
            <h2 class="subheading"><u>Guide on how to use</u></h2>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/1.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Connect your twitter account with COVICoin</h2>
                    <h3 class="guide-text">Use your Twitter account to log in to COVICoin and start earning COVICoins immediately. Signup first, and then log in using just your Twitter account.</h3>
                </div>
                <div class="guide-column">
                    <img class="guide-img" src="/assets/connect-to-twitter.svg">
                </div>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/2.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Start your COVID help session</h2>
                    <h3 class="guide-text">Start your COVID help session by clicking on the Start Session button. Our system fetches 20 recent tweets for you to help.</h3>
                </div>
                <div class="guide-column">
                    <img class="guide-img" src="/assets/need-tweet.svg">
                </div>
            </div>
            <div class="landing-image-section">
                <img src="/assets/requested-tweets.svg">
                <center>
                    <h2>Browse through various tweets that are streamed in real time!</h2>
                </center>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/3.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Choose your own tweets to help</h2>
                    <h3 class="guide-text">Help tweets that you have information about. Skip the tweet if you can't help. You get no COVICoins if you skip it. Go to resources to maximise your charity.</h3>
                </div>
                <div class="guide-column">
                    <img src="/assets/skip-help-landing.svg">
                </div>
            </div>
            <div class="guide45">
                <div class="guide-column45">
                    <div class="guide-row45">
                        <h1 class="guide-number"><img src="/assets/4.svg"></h1>
                        <div class="guide-column">
                            <h2 class="guide-heading">Help out by filling out forms with your procured info about the request</h2>
                            <h3 class="guide-text">Research and verify the leads by calling. Fill out forms with the information you receive.</h3>
                        </div>
                    </div>
                    <div class="guide-row45" style="margin-top: 150px;">
                        <h1 class="guide-number"><img src="/assets/5.svg"></h1>
                        <div class="guide-column">
                            <h2 class="guide-heading">Generating a tweet using your entered data</h2>
                            <h3 class="guide-text">Based on the information you fill, we generate the text of the tweet for you to save time.</h3>
                        </div>
                    </div>
                </div>
                <div class="guide-column">
                    <img src="/assets/form-landing.svg">
                </div>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/6.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Upload the call details for verification to earn COVICoins!</h2>
                    <h3 class="guide-text">Take a screenshot of the call details of the call you placed to verify a lead. We need it for verification.</h3>
                </div>
                <div class="guide-column">
                    <img src="/assets/upload-proof-landing.svg">
                </div>
            </div>
            <div class="guide" style="margin-top:150px;">
                <h1 class="guide-number"><img src="/assets/7.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">That’s all! You have successfully helped people meet their requests!</h2>
                    <h3 class="guide-text">Go home and give yourself a pat on the back! You have successfully helped a person in need.</h3>
                </div>
                <div class="guide-column">
                </div>
            </div>
            <div class="landing-image-section">
                <img style="width: 700px; margin: 150px auto 100px auto;" src="https://media.discordapp.net/attachments/706928005313855620/840490161455497256/unknown.png">
            </div>
            <h1 class="center-heading">But wait that’s not all!<br>You also earn <u>COVICoins</u> every <br>time you help someone!</h1>
            <h4 class="center-text">Everytime you help someone, you earn COVICoins that you can redeem or donate accordingly. We verify your leads and give you the appropriate amount of COVICoins.</h4>
            <h1 style="margin-top: 100px;" class=" center-heading">Look yourself up on the <u>Leaderboard</u>!</h1>
            <h4 class="center-text">For more gamification, we have a public leaderboard that displays stats like COVICoins, leads confirmed and streak. Compete with your friends and help more people!</h4>
            <img style="margin-top: 100px;" src="/assets/leaderboard-landing.svg">
            <h1 style="margin-top: 200px;" class="center-heading">Let's get started!</h1>
            <a href="/twitter" style="margin:30px auto 200px auto;"><img style="box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%); border-radius: 10px; width:300px; cursor:pointer;" src="/assets/connect-to-twitter.svg"></a>
        </div>
    </div>
    <script src="/js/auth.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>