<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/assets/logo.png" type="image/png" sizes="60x60">
    <title>COVICoin</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-inline">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo.png" alt="" width="60" height="60">
            </a>
            <a href="/">
                <h2 class="nav-header-text">COVICoin</h2>
            </a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a href="/login" class="nav-link">Login</a>
            <a href="/session" class="nav-link"><button class="startsession-button">Start Session</button></a>
        </div>
    </nav>
    <div class="main-wrap" width="100%">
        <div class="landing1">
            <h1 class="heading">COVICoin</h1>
            <button class="black-button">Start Session</button>
        </div>
        <div class="landing2">
            <h2 class="subheading">How does it work?</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h4>
        </div>
        <div class="landing2">
            <h2 class="subheading"><u>Guide on how to use</u></h2>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/1.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Connect your twitter account with COVICoin</h2>
                    <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h3>
                </div>
                <div class="guide-column">
                    <img class="guide-img" src="/assets/connect-to-twitter.svg">
                </div>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/2.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Start your covid help session</h2>
                    <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h3>
                </div>
                <div class="guide-column">
                    <img class="guide-img" src="/assets/need-tweet.svg">
                </div>
            </div>
            <div class="landing-image-section">
                <img src="/assets/requested-tweets.svg">
                <center>
                    <h2>Browse through various tweets that are streamed in real time!</h2>
                </center>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/3.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Choose your own tweets to lorem ipsum</h2>
                    <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h3>
                </div>
                <div class="guide-column">
                    <img src="/assets/skip-help-landing.svg">
                </div>
            </div>
            <div class="guide45">
                <div class="guide-column45">
                    <div class="guide-row45">
                        <h1 class="guide-number"><img src="/assets/4.svg"></h1>
                        <div class="guide-column">
                            <h2 class="guide-heading">Help out by filling out forms with your procured info about the request</h2>
                            <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada
                                urna..
                            </h3>
                        </div>
                    </div>
                    <div class="guide-row45">
                        <h1 class="guide-number"><img src="/assets/5.svg"></h1>
                        <div class="guide-column">
                            <h2 class="guide-heading">Generating a tweet using your entered data</h2>
                            <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada
                                urna..
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="guide-column">
                    <img src="/assets/form-landing.svg">
                </div>
            </div>
            <div class="guide">
                <h1 class="guide-number"><img src="/assets/6.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">Upload the lorem ipsum for verification to earn COVICoins!</h2>
                    <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h3>
                </div>
                <div class="guide-column">
                    <img src="/assets/upload-proof-landing.svg">
                </div>
            </div>
            <div class="guide" style="margin-top:150px;">
                <h1 class="guide-number"><img src="/assets/7.svg"></h1>
                <div class="guide-column">
                    <h2 class="guide-heading">That’s all! You have successfully helped people meet their requests!</h2>
                    <h3 class="guide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h3>
                </div>
                <div class="guide-column">
                </div>
            </div>
            <div class="landing-image-section">
                <img style="width: 700px; margin: 150px auto 100px auto;" src=" https://media.discordapp.net/attachments/706928005313855620/840490161455497256/unknown.png ">
            </div>
            <h1 class="center-heading">But wait that’s not all!<br>You also earn <u>COVICoins</u> every <br>time you help someone!</h1>
            <h4 class="center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h4>
            <h1 style="margin-top: 100px;" class=" center-heading ">Look yourself up on the <u>Leaderboard</u>!</h1>
            <h4 class="center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis elementum, vitae suscipit leo. Vitae purus posuere facilisis consequat justo pretium lobortis turpis in. Mi, dignissim feugiat eget eget scelerisque ut sed malesuada urna..</h4>
            <img style="margin-top: 100px;" src="/assets/leaderboard-landing.svg">
            <h1 style="margin-top: 200px;" class="center-heading">Let's get started!</h1>
            <img style="box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%); border-radius: 10px; width:300px; margin:30px auto 200px auto; cursor:pointer;" src="/assets/connect-to-twitter.svg">
        </div>
    </div>
</body>

</html>