<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" sizes="60x60">
    <title>COVICoin - Leaderboard</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-inline">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo-white.svg" alt="" width="150" height="60">
            </a>
        </div>
        <div class="nav-links">
            <b><a href="/leaderboard" class="nav-link">Leaderboard</a></b>
            <a href="/resources" class="nav-link">Resources</a>
            <a href="/profile" class="nav-link">Profile</a>
            <a href="/session/start" class="nav-link token"><button class="startsession-button">Start Session</button></a>
        </div>
    </nav>
    <div class="leaderboard">
        <h1>COVICoin <span style="font-weight: normal;">Leaderboard</span></h1>
        <p>Leaderboard of all users sorted according to the amount of COVICoins earned and verified leads provided.</p>
        <div id="leaderboard-inflate">
        </div>
    </div>
    <script src="/js/leaderboard.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>