<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml sizes=" 60x60 ">
    <title>COVICoin - Profile</title>
</head>

<body>
    <nav class="navbar ">
        <div class="navbar-inline ">
            <a class="navbar-brand " href="/ ">
                <img src="/assets/logo-white.svg " alt=" " width="150 " height="60 ">
            </a>
        </div>
        <div class="nav-links ">
            <a href="/leaderboard " class="nav-link ">Leaderboard</a>
            <a href="/resources " class="nav-link ">Resources</a>
            <b><a href="/profile " class="nav-link ">Profile</a></b>
            <a href="/session/start " class="nav-link token "><button class="startsession-button ">Start Session</button></a>
        </div>
    </nav>
    <div class="main-wrap ">
        <div class="left ">
            <h1>Account</h1>
            <div class="left-card ">
                <h4>Display Name</h4>
                <p id="name "></p>
            </div>
            <div class="left-card inline ">
                <div class="twitter-text ">
                    <h4>Twitter Account</h4>
                    <p id="username "></p>
                </div>
                <div class="inline ">
                    <button class="twitter-connected-button "><span style="margin-left: -40px; ">Connected</span></button><img class="twitter-img " src="/assets/twitter.png ">
                </div>
            </div>
            <div class="left-card inline ">
                <div class="twitter-text ">
                    <h4>COVICoins</h4>
                    <p id="covicoins-count ">0</p>
                </div>
                <div class="inline ">
                    <button class="redeem-button "><span style="margin-left: -40px; ">Redeem</span></button><img class="twitter-img " src="/assets/redeem.png ">
                </div>
            </div>
            <a href="/logout "><button class="end-session-button ">Logout</button></a><br><br><br>
        </div>
        <div class="right ">
            <div class="right-card ">
                <h2>Leads provided<br>(All time)</h2>
                <h3 id="all-leads-count ">0</h3>
            </div>
            <div class="right-card ">
                <h2>Leads provided<br>(Today)</h2>
                <h3 id="today-leads-count ">0</h3>
            </div>
            <div class="right-card ">
                <h2>Daily limit left</h2>
                <h3 id="daily-limit-left ">0</h3>
            </div>
            <div class="right-card ">
                <h2>Streak (Days)</h2>
                <h3 id="streak ">0</h3>
            </div>
        </div>
    </div>
    <script src="/js/profile.js "></script>
    <script src="/js/common.js "></script>
</body>

</html>