<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" sizes="60x60">
    <title>COVICoin - Resources</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-inline">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo-white.svg" alt="" width="150" height="60">
            </a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <b><a href="/resources" class="nav-link">Resources</a></b>
            <a href="/profile" class="nav-link">Profile</a>
            <a href="/session/start" class="nav-link token"><button class="startsession-button">Start Session</button></a>
        </div>
    </nav>
    <div class="leaderboard">
        <h1>COVICoin <span style="font-weight: normal;">Resources</span></h1>
        <p>Here's a list of websites with information related to covid relief. However, we request users to use their discretion and verify the leads on their own before taking any action.</p>
        <div class="resources">
            <div class="resource-link"><a href="https://covid19-twitter.in" target="_blank">https://covid19-twitter.in</a></div>
            <div class="resource-link"><a href="https://www.covidindiaresources.com/" target="_blank">https://www.covidindiaresources.com</a></div>
            <div class="resource-link"><a href="https://life.coronasafe.network/" target="_blank">https://life.coronasafe.network</a></div>
            <div class="resource-link"><a href="https://indiacovidresources.in/" target="_blank">https://indiacovidresources.in</a></div>
            <div class="resource-link"><a href="https://oxygenblr.in/" target="_blank">https://oxygenblr.in</a></div>
            <div class="resource-link"><a href="https://covidfightclub.org/" target="_blank">https://covidfightclub.org</a></div>
            <div class="resource-link"><a href="https://www.factchecker.in" target="_blank">https://www.factchecker.in</a></div>
        </div>
    </div>
    <script src="/js/common.js"></script>
</body>

</html>