<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/session.css">
    <link rel="icon" href="/assets/logo.png" type="image/png" sizes="60x60">
    <title>COVICoin - Session</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inline">
          <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="" width="60" height="60">
          </a>
          <a href="/"><h2 class="nav-header-text">COVICoin</h2></a>
        </div>
        <div class="nav-links">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
            <a href="/resources" class="nav-link">Resources</a>
            <a href="/profile" class="nav-link">John</a>
        </div>
    </nav>
    <div class="main-wrap">
        <div class="left">
            <div class="left-card">
                <h2>Leads provided</h2>
                <h3>12</h3>
            </div>
            <div class="left-card">
                <h2>Remaining limit</h2>
                <h3>8</h3>
            </div>
            <div class="left-card">
                <h2>COVICoins earned</h2>
                <h3>12</h3>
            </div>
            <button class="end-session-button">End Session</button><br><br><br>
        </div>
        <div class="right">
            <div class="top-inline">
                <h2>Requested tweet</h2>
                <span title="This is a tweet which is requesting for resources."><img src="/assets/question-mark.png"/></span>
            </div>
            <div class="tweet-embed">
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">*Need an ICU bed in Rohtak urgently* <br><br>Name - Sunita<br>Age - 59<br>Gender - Female<br>City- Rohtak<br>Oxygen saturation level- 57<br><br>Attendant Name - Mohit Dhall (son)<br><br>Contact - 9253557777</p>&mdash; Yusuf Pathan (@iamyusufpathan) <a href="https://twitter.com/iamyusufpathan/status/1390016142647848964?ref_src=twsrc%5Etfw">May 5, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="buttons-inline">
                <button class="skip-button"><img src="/assets/skip.png">Skip</button>
                <button class="help-button"><img src="/assets/hand.png">Help out</button>
            </div>
        </div>
    </div>
</body>
</html>